html {
  scroll-behavior: smooth;
}

body {
  background-image: url('img/background.png');
  background-size: cover;
}

h1 {
  background-image: url('img/trainheader.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  color: rgb(187, 2, 2);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1000%;
  margin-top: auto;
  margin-bottom: auto;
}
h2{
  background-color: rgb(17, 59, 59);
  border: 4px solid black;
  border-radius: 10px;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  margin: 1%;
}
p {
  background-color: rgb(17, 59, 59);
  border: 4px solid black;
  border-radius: 10px;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  text-align: center;
  margin: 1%;
} 

p1 {
  background-color: rgb(17, 59, 59);
  border-radius: 10px;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
}

.btn-group button {
  background-color: rgb(17, 59, 59); /* Green background */
  border: 5px solid rgb(0, 0, 0); /* Green border */
  color: rgb(255, 4, 4); /* White text */
  padding: 0.5% 2%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 3em;
  border-radius: 5px;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #3e8e41;
  color: white;
}

#myBtn {
  position: fixed; 
  bottom: 2%; 
  right: 1%;
  z-index: 99; 
  border-color: black;
  outline: none; 
  background-color: red; 
  color: black;
  cursor: pointer;
  padding: 0.75%;
  border-radius: 20px; 
  font-size: 2em; 
}
#saveBtn {
  position: absolute;
  left: 37%;
  background-color: rgb(17, 59, 59); /* Green background */
  border: 10px solid rgb(0, 0, 0); /* Green border */
  color: rgb(255, 4, 4); /* White text */
  padding: 0.5% 2%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  font-size: 4em;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555; 
}

#saveBtn:hover{
  background-color: #3e8e41;
  color: white;
}

#nokia{
  float:right;
  width:25%;
  height:auto; 
  margin-right: auto;
  border-radius: 5px;
}
#trainSnake{
  width:37%;
  height:auto;
  border-radius:10px;
}
#trainCity{
  width: 29%;
  height: auto;
   margin-left:2%;
   border-radius:10px;
}

input[type=text]{
  font-size: 500%;
  position: relative;
  margin-left: 6%;
  margin-top: 0%;
  box-sizing: border-box;
  z-index: 1;
  width:30%;
  height: auto;
  border:10px solid rgb(0, 0, 0);
  border-radius:4px;
  outline:none;
}
